* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header {
  width: 100%;
  height: 100px;
  background: lightblue;
  text-align: center;
}

.header h1 {
  line-height: 100px;
}

.container {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
}

.container .result {
  margin-bottom: 1.67rem;
  font-size: 1.67rem;
}

.container .symbols {
  width: 30%;
  height: calc((100vh - 100px) * 0.3);
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.container .symbols .symbol {
  width: 45%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  border: 2px solid black;
  border-radius: 6px;
}

.container .pick {
  width: 30%;
  display: inline-flex;
  justify-content: center;
  column-gap: 3.2rem;
  margin-bottom: 1.67rem;
}

.container .btn_select {
  width: 50%;
  height: 20%;
  display: flex;
  justify-content: space-evenly;
}

.container .btn_select .btn {
  width: 25%;
  height: 100%;
  font-size: 2rem;
}
